@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins';
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5;
    overflow:scroll
}

html {
    scroll-behavior: smooth;
}


body {
    background: var(--bg-color);
    color: var(--text-color)
}

section {
    min-height: 100vh;
    padding: 8rem 8% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 7%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}

.wrapper {
    display: flex;
}

.wrapper .first-texts {
    color: #fff;
}

.wrapper .sec-texts {
    height: 86px;
    line-height: 86px;
    overflow: hidden;
}

.sec-texts li {
    position: relative;
    top: 0;
    font-size: 40px;
    list-style: none;
    padding: 0 20px;
    text-shadow: 0 0 10px #0ef;
    animation: slide 12s steps(4) infinite;    
}

@keyframes slide {
    100% {
        top: -360px;
    }
}


.sec-texts li span {
    position: relative;
}

.sec-texts li span::before {
    content: "";
    position: absolute;
    left: 0%;
    width: 400px;
    height: 75px;
    background: #1f242d; 
    border-left: 2px solid #0ef;
    animation: typing 1.5s steps(10) infinite
    alternate;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}



.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    text-decoration: none;
}

.navbar a {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 2rem;
    transition: 0.5s;
    
}


.navbar a:hover, 
.navbar a.active {
    color: var(--main-color);
}


#menu-icon {
    font-size: 3.6rem;
    display: none;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
 /************************* Dropdown_Menu *********************/






.home {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-img img {
    width: 35vw;
    
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}
.home-content h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    display: none;
}

.btn:hover {
    box-shadow: none;
} 

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}



.about-img img {
    width: 35vw;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 35rem;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-img h3 {
    font-size: 2.6rem;
}

.heading h2 {
    font-size: large;
}

.about-img p {
    font-size: 1.4rem;
    margin: 1.5rem 0 3rem;
}

.about-img span {
    font-size: 2.5rem;
}

.services h2 {
    line-height: 200px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    border: .2rem solid var();
    transition: .5s ease;
    width: 50%;
    margin: 0 auto;
}
  
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #1f242d;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 35px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: #0ef;
  }
  .bar.back::before{
    background-color: #0ef;
  }
  
  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(100% - 10px);
  }
  


.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}




/*===============================portfolio============================*/

.portfolio {
    background: var(--second-bg-color)
}

*{
    box-sizing: border-box;
}

.portfolio h2 {
    line-height: 200px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}


.portfolio-box video {
    width: 100%;
}


.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex
}




/*=============================Contact==========================*/

.contact h2 {
    margin: ;
}

.contact h2 {
    margin-bottom: 3rem;   
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    background: var(--second-bg-color);
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p {
    font-size: 1.8rem;
    font-weight: 380;
    text-transform: capitalize;
    line-height: 3rem;
}



.socials {
    list-style: none;
    display: center;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin:0 10px ;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 3rem;
    transition: color .4s ease;
}

.socials a:hover {
    color: #0ef;
}

.footer-bottom {
    background: #1f242d;
    width: 100vw;
    padding: 20px 5;
    text-align: center;
}

.footer-bottom p {
    font-size: 17px;
    word-spacing: 2px;
    text-transform: capitalize;
}


/*BREAKPOINTS*/
@media (max-width:  1200px) {
    html {
        font-size 55%;
    }
}

@media (max-width: 992px) {


    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) { 



    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%
    }
}

@media (max-width: 365px) {
    .home-img img {
        width 90vw;
    }

    .about-img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

